.body {
  background-color: white;
}


.title {
  background: rgb(121, 242, 157);
}

.page {
  // 全局样式
  :global {

  }
}

:global {
  .laomi {
    .am-tabs-default-bar-underline {
      border-color: red;
    }
  }
}

.searchBtn {
  height: 30px;
  width: 60px;
  color: palevioletred;
  font-size: 5px;
}

//  排行榜
.rankBanner {
  width: 100%;
  height: 80px;
  background-color: rgb(247, 174, 172);
  display: flex;
}

.rankBannerTitle {
  font-size: 20px;
  display: flex;
  align-self: center;
  color: rgb(32, 32, 24);
  font-weight: 500;
  margin-left: 10px;
}

.time {
  font-size: 10px;
  color: grey;
  display: flex;
  // justify-content: flex-end;
  align-self: flex-end;
}

.rankListArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.rankSingle {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rankNum {
  width: 8%;
  font-size: 20px;
  font-weight: 600;
  color: #a91725;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.rankNameAr {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -50px;
}

.rankName {
  width: 70%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  text-align: left;
  color: black;
  font-weight: 400;
  font-size: 18px;
}

.artists {
  width: 70%;
  font-size: 5px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin-top: -7px;
  color: grey;
  text-align: left;
}

.playBtn {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  margin-right: 15px;
}
