.title {
  width: 100vw;
  height: 10.666vw;
  display: flex;
  margin: 10px 0;
  font-size: 17px;
  align-items: center;

  &>.t1 {
    display: flex;

  }
}

.square {
  height: 5.333vw;
  width: 1.5vw;
  background-color: pink;
  margin: 0 5px 0 0;
}

.hotWordArea {
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
}

.hotword {
  width:120px;
  height: 50px;
  align-items: center;
  font-size: 6px;
}

.newSongBox {
  height: 14.667vw;
  width: 100vw;
  border-bottom: 0.067vw solid grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 0 5px 0;
  align-items: center;
}

.songArtists {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.songName {
  font-size: 4.533vw;
  margin-left: 3vw;
  padding-bottom: 1vw;
  color: black;
  font-weight: 600;
}

.importFrom {
  font-size: 4.533vw;
  color: rgb(70, 67, 70);
  margin-left: 1.333vw;
}

.singerInfo {
  font-size: 3.33vw;
  color: rgb(85, 83, 85);
  margin-left: 3vw;
  margin-top: -6px;
}

.playBtn {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  margin-right: 15px;
}

.searchBtn {
  width:200px;
  display: flex;
  align-items: center;
  font-size: 6px;
  border-radius:50%;
}
