.title {
  background: palevioletred;
  height: 70px;
}

.btn {
  background: whitesmoke;
  border-radius: 12px;
  font-size: 15px;
  margin-left: 110px;
  margin-top: 27px;
  display: inline-block;
}

.titleFont {
  font-size: 20px;
  color: white;
  text-shadow: 1px;
  margin-left: 20px;
  display: inline-block;
}

.NavBar {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  height: '250px';
  background-color: '#fff';
}
