.title {
  background: palevioletred;
  height: 70px;
  position:  relative;
}

.btn {
  background: whitesmoke;
  border-radius: 12px;
  font-size: 15px;
  margin-left: 100px;
  display: inline-block;
  position: absolute;
  top: 32%;
  left: 45%;
  color: rgb(216, 111, 146);
}

.titleFont {
  font-size: 20px;
  color: white;
  text-shadow: 1px;
  margin-left: 20px;
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 7%;
}

.NavBar {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  height: '250px';
}


// endBar
.endTitle {
  background: rgb(190, 105, 133);
  height: 70px;
  display: flex;
  flex-direction: column;
}

.endTitleFont {
  font-size: 16px;
  color: white;
  text-shadow: 1px;
  text-align: center;
  margin: 13px 0 5px 0;
  font-weight: 600;
}

.endSlogan {
  font-size: 10px;
  color: white;
  text-shadow: 1px;
  text-align: center;
  font-weight: 200;
}
